* {
    margin: 0;
    padding: 0;
}

body{
  background-color: #e8e8e8;
}

.open{
  max-width: 200px !important;
}

.moved{
  right: 200px !important;
}

#page-numbers > li > a {
  background-color: white;
  color: purple;
}

#page-numbers > li > a:focus,
#page-numbers > li > a:hover,
#page-numbers > li > span:focus,
#page-numbers > li > span:hover {
  color: purple;
  background-color: #eee;
  border-color: #ddd;
  cursor: pointer;
}

#page-numbers > .active > a {
  color: white;
  background-color: purple;
  border: solid 1px purple;
}

#page-numbers > .active > a:hover {
  background-color: purple;
  border: solid 1px purple;
}

#registerText{
  color: #145374
}
