.img {
  height: 490px;
  margin-bottom: 1px !important;
  padding: 5px;
  border: 1px solid grey;
}
.classImg {
  object-fit: cover;
  height: 360px;
}
#descriptions {
  height: 100px;
  background-color: rgb(223, 218, 218);
  padding: 8px;
  margin-top: 10px;
}
.ajusteCard {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.enlace {
  text-decoration: none;
}
.enlace:hover {
  text-decoration: none;
  color: red !important;
}
#descriptions:hover {
  text-decoration: none;
  color: red !important;
}

#page-numbers > li > a {
  background-color: white;
  color: purple;
}

#page-numbers > li > a:focus,
#page-numbers > li > a:hover,
#page-numbers > li > span:focus,
#page-numbers > li > span:hover {
  color: purple;
  background-color: #eee;
  border-color: #ddd;
  cursor: pointer;
}

#page-numbers > .active > a {
  color: white;
  background-color: purple;
  border: solid 1px purple;
}

#page-numbers > .active > a:hover {
  background-color: purple;
  border: solid 1px purple;
}

.rating{
  padding: 0;
}

#box{
  max-height: 20px;
}

