.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%
}
.dashboard .btn{
  width:200px;
  height: 60px;
}

.btn{
  border: solid 2px #145374;
}
