.container {
  display: flex;
  height: 40%;
  width: auto;
  box-sizing: border-box;
}
.imgContainer {
  background-color: red;
  display: inline-block;
  margin-left: 5%;
  text-align: center;
}

.description {
  background-color: blue;
  text-align: center;
  float: right;
  margin-top: 10%;
  margin-right: 20%;
}
*/

/* .img-thumbnail{
  height: 600px;
  width: 300px;
} */
#stars {
  max-width: 20%;
  height: auto;
}